.flex {
  display: flex;
}

ul > * {
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.flex-justify {
  justify-content: space-around;
}

.center {
  margin: 0 auto;
}

nav {
  max-width: 1200px;
  font-size: 24px;
}
.footer-area {
  border: 2px solid black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  max-width: 1200px;
  