body {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  padding: 0;
  margin-bottom: 50px;
}

ul > * {
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.flex-justify {
  justify-content: space-around;
}

nav {
  font-size: 24px;
}

footer {
  border: 2px solid black;
  text-align: center;
  max-width: 1200px;
  margin: 24px;
  padding: 6px 16px;
  line-height: 1.5;
}

.items {
  margin: 24px;
  display: grid;
  grid-template-columns: 1fr;
}

.picture {
  max-width: 80vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.title {
  font-size: 24px;
  padding: 12px;
}

button {
  padding: 6px;
  margin: 6px;
}

.displayNone {
  display: none;
}

.likes {
  font-size: 16px;
  color: gray;
}

@media only screen and (min-width: 768px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .picture {
    width: 25vw;
  }
}
