body {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul > * {
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
}

.flex-justify {
  justify-content: space-around;
}

nav {
  font-size: 24px;
}

.footer-area {
  border: 2px solid black;
  position: fixed;
  bottom: 0;
  width: calc(100% - 4px);
  text-align: center;
  max-width: 1200px;
}
